body {
    background-color: rgb(51, 204, 204);
}

div {
    text-align: center;
    margin: 5% 10%;
}

section {
    font-size: 1.5em;
    font-weight: bold;
    border: solid black 5px;
    padding: 25px;
    box-sizing: border-box;
}