.hotel,
.img {
  margin: 0.5rem;
  margin: 0.5rem;
}

.hotel {
  padding: 0.3rem;
  color: rgb(9, 66, 65);
  border: 0.1rem solid black;
  background-color: rgb(95, 158, 160, 0.3);
}

.opis,
.pElementsStyling {
  font-weight: bold;
}

.pElementsStyling {
  font-size: 1.8rem;
}

.btn {
  font-size: 1.3rem;
}
