.header {
  /* dla dobrej responsywności strony najlepiej jest używać do ustalania wielkości 
    jednostek miary: 'em' oraz 'rem'  */
  height: 5rem;
  background-color: aqua;
  background: url(../../assets/images/header.png) center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(140, 28, 28, 0.741);
  padding: 7rem 1rem;
}

/* .input {
  height: 2rem;
  margin: 0.1rem;
} */

/* powyższy zestaw jeżeli sami chcielibyśmy wystylizować element o klasie input */
