.container {
  box-sizing: border-box;
  border: 0.1rem solid black;
  padding: 0.5rem;
  margin: 1rem;
}

.title {
  font-weight: bold;
  color: green;
  font-size: 2.5rem;
  margin: 0 0 1rem 1rem;
}
